body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #f5f7fb;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar li:hover {
  background: #374151;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* SECTIONS */
.section {
  display: none;
}

.section.active {
  display: block;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

.card button {
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

/* ITEM CARD */
.item {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

#calendar {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

#userProfile {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

#userProfile button {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#profileSection {
  max-width: 400px;
  margin: auto;
}

#profileSection input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}